<!DOCTYPE html>
<html>
  <head>
    <title>Aplikasi Cafe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Aplikasi Cafe - <%= Nama %></p>
    <a href="/jual">Penjualan</a><br>
    <a href="/beli">Pembelian</a><br><br>
    <% if(Role == 'admin') { %>
      <a href="/produk">Tabel Produk</a><br>
      <a href="/bahan">Tabel Bahan</a><br><br>
      <a href="/laporan/n">Laporan</a><br><br><br>
    <% } %>
    <a href="/logout">Logout</a>
  </body>
</html>
