<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Cafe</title>
</head>
<body>
    Anda memasuki halaman yang tidak boleh diakses, anda harus login terlebih dahulu<br>
    <a href="/">Login</a>
</body>
</html>